.welcome-home-big-card {
  border: 2px solid transparent;
}
.welcome-home-big-card:hover {
  border: 2px solid var(--p-primary-hover-color);
}

.welcome-home-square-card {
  border: 2px solid transparent;
}
.welcome-home-square-card:hover {
  border: 2px solid var(--p-primary-color);
}
